@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Some random address</p>
<!--Adress info-->
<address>
    Kaiserstraße<br />
    Berlin, Berlin<br />
    <abbr title="Tel:">223432234</abbr>
</address>

