@model ContactFormViewModel
@{
    ViewData["Title"] = "ContactFormGreetings";
}



<!--Required by bootstrap-->
<div class="container">
    <!--Display the title-->
    <div class="jumbotron">
        <h2>ContactFormGreetings</h2>
    </div>
    <!--Greet user-->
    <div>
        Helo @ViewBag.UserName
    </div>

</div>

