@model ContactFormViewModel

@{
    ViewData["Title"] = "ContactThankYou";
}

<!--Say 'Thank you'-->
<h2>Thank you @Model.FirstName!</h2>
<h3>Thy request shall be reviewed</h3>
Just kidding it won't ;>
